<%- include('../inc/header') -%>
</head>
  <%- include('../inc/tagBody') -%>
  <div class="wrapper">
  <!-- begin Preloader -->
  <%- include('../inc/loader') -%>
  <!-- end Preloader -->
  <!-- begin Navbar -->
  <%- include('../inc/navbar') -%>
  <!-- end Navbar -->
  <!-- begin Main Sidebar Container sidebar-dark-primary-->
  <%- include('../inc/sidebar') -%>
  <!-- end Main Sidebar Container -->
  <!-- begin Content Wrapper -->
  <div class="content-wrapper">
    <!-- begin Content Header -->
    <%- include('../inc/contentHeader') -%>
    <!-- end Content Header -->

    <!-- begin Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- begin Main row -->
        
        <!-- end Main row -->
      </div>
    </section>
    <!-- end Main content -->

  </div>
  <!-- end Content Wrapper -->
  <!-- begin Footer-->
  <%- include('../inc/footer') -%>
  <!-- end Footer-->
  <!-- begin Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- end Control Sidebar -->
</div>
<!-- ./wrapper -->
<%- include('../inc/allSrc') -%>
</body>
</html>
